<!DOCTYPE html>
<html>
  <head>
    <style>
      form {
        width: 300px;
        margin: 0 auto;
        text-align: center;
      }
      input[type="password"] {
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        width: 100%;
      }
      button[type="submit"] {
        background-color: #c0dfef;
        color: blue;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 100%;
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <form
      action="/user/reset/<%= token %>"
      method="post"
      onsubmit="return handleSubmit(event)"
    >
      <div>
        <label for="password">Nouveau mot de passe:</label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <label for="confirmPassword">Confirmer le nouveau mot de passe:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
      </div>
      <button type="submit">Réinitialiser le mot de passe</button>
    </form>
    <script>
      function handleSubmit(e) {
        e.preventDefault();
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;
        if (password !== confirmPassword) {
          alert("Les mots de passe ne correspondent pas!");
          return;
        }
        // envoyer la requête au serveur
        document.querySelector("form").submit();
      }
    </script>
  </body>
</html>